/* .dashboard-main {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; 
  margin: 0 auto; 
}

.explorer-component {
  width: 20%;
}

.activity-component {
  width: 50%;
}

.sidebar-component {
  width: 30%;
}  */

.dashboard-main {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.explorer-component {
  width: 20%;
  background-color: #f0f0f0; /* Optional: Add background color */
  position: fixed;
  height: 100vh;
  overflow-y: auto;
}

.activity-component {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border: 2px solid red;
}

.sidebar-component {
  width: 30%;
  background-color: #f0f0f0;
  position: fixed;
  height: 100vh;
  right: 0;
  overflow-y: auto;
  border: 2px solid red;
}
