.container-wrapper {
  margin-left: 300px;
  margin-top: 50px;
}

.profile-container {
  border-left: 1px solid rgba(235, 223, 223, 0.979);
  border-right: 1px solid rgba(235, 223, 223, 0.979);
  max-width: 700px;
}

.profile-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}

.profile-profile {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 23px;
  gap: 5px;
}

.profile-memory,
.profile-bookmark,
.profile-request-code {
  border-radius: 10px;
  width: 20px;
  font-size: 10px;

  margin: 30px;
  /* background-color: #6f42c1; */
}

.profile-edit-button {
  font-size: 30px;
  width: 20px;
}
