.sync-modal-placeholder {
  margin-top: 20px;
  font-size: 30px;
  color: #ece9e9;
}

.sync-modal-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sync-modal-btn-paste,
.sync-modal-btn-import,
.sync-modal-btn-circles {
  width: 100px;
  /* margin-top: 20px; */
}

/* .sync-modal-btn-circles {
  margin-left: auto;
} */

.modal-image-format,
.modal-text-format {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.modal-toggle-items {
  margin-top: 20px;
}
