.sync-modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sync-modal-placeholder {
  margin-top: 20px;
  font-size: 30px;
  color: #ece9e9;
}

.sync-modal-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sync-modal-btn-paste,
.sync-modal-btn-import,
.sync-modal-btn-circles {
  border-radius: 10px;
  width: 100px;
  padding: 10px;
  margin: 5px;
  background: linear-gradient(to bottom right, #e83e8c, #6f42c1, #3490dc);
  box-shadow: var(--box-shadow-thin);
}

.sync-modal-btn-circles {
  margin-left: auto;
}

.modal-image-format,
.modal-text-format {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.modal-toggle-items {
  margin-top: 20px;
}

.sync-modal-btn-paste:hover,
.sync-modal-btn-import:hover,
.sync-modal-btn-circles:hover {
  background: linear-gradient(var(--linear-gradient-hover));
}
