* {
  margin: 0;
  padding: 0;
}

.activity {
  border-right: 1px solid rgba(240, 237, 237, 0.979);
  border-left: 1px solid rgba(240, 237, 237, 0.979);
}

.activity-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #6f42c1;
}

.activity-img:hover {
  transform: scale(1.07);
}

.activity-wrapper {
}

.name-title {
  bottom: 20px;

  font-size: 15px;
  color: white;
  font-weight: 600;
}

.activity-name {
  font-weight: 500;
  border-radius: 10px;
  color: black;
  width: 100px;
  border: 10px;
}

.activity-title {
  color: black;
  font-weight: 600;
  border-radius: 10px;
  width: 150px;
  border: 10px;
  position: relative;
  top: 8px;
}
