/* .activity-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.bgImage {
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.brImage:hover {
  transform: scale(1.07);
} */

.activity-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.bgImage {
  background-size: cover;
  background-repeat: no-repeat;

  width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.bgImage:hover {
  transform: scale(1.07);
}
