/* .activity {
  position: relative;
  left: 30px;
} */

.activity-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* .bgImage {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat; 

   width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer; 
}  */

.activity-img:hover {
  transform: scale(1.07);
}

.activity-wrapper {
}

.name-title {
  /* position: absolute; */
  bottom: 20px;

  font-size: 15px;
  color: white;
  font-weight: 600;
}

.activity-name {
  /* background-color: rgba(255, 255, 255, 0.15);  */
  /* background-color: rgba(209, 154, 243, 0.4); */
  /* text-align: center; */
  font-weight: 500;
  border-radius: 10px;
  color: black;
  width: 100px;
  border: 10px;
}

.activity-title {
  /* background-color: rgba(255, 255, 255, 0.15);  */
  /* background-color: rgba(209, 154, 243, 0.4); */
  /* text-align: center; */
  color: black;
  font-weight: 600;
  border-radius: 10px;
  width: 150px;
  border: 10px;
  position: relative;
  top: 8px;
}
