.circle-main {
  position: fixed;
  left: 900px;
}

.circle-main {
  margin-left: 80px;
}

.circle-second-main-container {
  border: 2px solid rgba(240, 237, 237, 0.979);
  padding: 30px;
  border-radius: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.search-icon {
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.circle-container {
  width: 100%;
  margin-top: 20px;
}

.circle {
  text-align: center;
  background-color: #dfc9f3;
  color: #2a2f36;
  padding: 10px;
  margin-top: 5px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

.circles-div {
  /* width: 300px; */
  padding: 13px;
  margin-top: 35px;
  margin-bottom: 30px;
  border-radius: 10px;

  box-shadow: var(--box-shadow-thinner);
}

.engagement {
  width: 100%;
  background-color: #dfc9f3;
  padding: 20px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 10px;
}

.engagement-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-light);
}

.engagement-text {
  font-weight: 600;
  margin-left: 10px;
  color: #2a2f36;
}

.engagement-details {
  margin-bottom: 10px;
}

.engagement-title {
  color: #2a2f36;
}

.engagement-timer {
  margin-left: 10px;
  color: #2a2f36;
}

.engagement-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
}
